@model IEnumerable<InMemory.Models.Livro>
@{
    ViewBag.Title = "Livros - EF Core InMemory";
}

<div class="jumbotron">
    <h1>ASP.NET e EF Core 1.0.1</h1>
    <p class="lead">Aplicação ASP.NET MVC 5 com Entity Framework Core 1.0.1 - Provider InMemory</p>
</div>

<div class="table-responsive">
    <table class="table table-hover">
        <tr>
            <th>Título</th>
            <th>Autor</th>
            <th>Ano da Publicação</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Titulo
                </td>
                <td>
                    @item.Autor
                </td>
                <td>
                    @item.AnoPublicacao
                </td>
            </tr>
        }

    </table>
</div>


@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@