@model IEnumerable<InMemory.Models.Livro>
@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET Core 2.0 e EF Core 2.0</h1>
    <p class="lead">Aplicação ASP.NET MVC Core 2.0 com Entity Framework Core 2.0 - Provider InMemory</p>
</div>
<form asp-action="ExcluirPrimeiroLivro">
    <button type="submit">EXCLUIR PRIMEIRO LIVRO</button>
</form>
<div class="table-responsive">
    <table class="table table-hover">
        <tr>
            <th>Título</th>
            <th>Autor</th>
            <th>Ano da Publicação</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Titulo
                </td>
                <td>
                    @item.Autor
                </td>
                <td>
                    @item.AnoPublicacao
                </td>
            </tr>
        }

    </table>
</div>
